<div ng-init="vm.activate()">
  <div class="clear-both">
    <div class="sub-header-title">Stats Summary stock </div>
    <div class="purchase-track-box">
      <div class="row">
        <div class="col-md-2">
          <div class="box-track">{{vm.TotalItem || 0}} </div><span>Total Items</span></div>
        <div class="col-md-2">
          <div class="box-track">{{vm.TotalCost || 0 | currency:"&#8377;" }}</div><span>Total Cost</span></div>
        <div class="col-md-2">
          <div class="box-track">{{vm.InStock || 0}}</div><span>In Stock Items</span></div>
        <div class="col-md-2">
          <div class="box-track">{{vm.Sold || 0}}</div><span>Sold Items</span></div>
        <div class="col-md-2">
          <div class="box-track">{{vm.TotalPrice || 0 |currency:"&#8377;" }}</div><span>Total Price</span></div>
        <div class="col-md-2">
          <div class="box-track">{{vm.TotalPrice - vm.TotalCost |currency:"&#8377;" || 0}} </div><span>Profit</span></div>
      </div>
    </div>
  </div>

  <br />
  <div class="clear-both">
    <div class="sub-header-title">Charts Summary</div>

    <div class="dashboard-bx-align" ng-init="vm.activate()">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Bar Chart</div>
      <div class="charts-content-padding">
        <div class="charts-align">
          <canvas id="bar" class="chart chart-bar" ng-if="vm.InStock >0  " chart-data="[vm.InStock,vm.Sold,0]" chart-labels="vm.labels" height="300" width="400">
                    </canvas>
        </div>
      </div>
    </div>
    <div class="dashboard-bx-align" ng-init="vm.activate()">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Pie Chart</div>
      <div class="charts-content-padding">
        <div class="charts-align">

          <canvas id="pie" class="chart chart-pie" ng-if="vm.InStock >0 " chart-data="[vm.InStock,vm.Sold,0]" chart-labels="vm.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="dashboard-bx-align" ng-init="vm.activate()">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Doughnut Chart</div>
      <div class="charts-content-padding">
        <div class="charts-align">
          <canvas id="doughnut" class="chart chart-doughnut" ng-if="vm.InStock >0  " chart-data="[vm.InStock,vm.Sold,0]" chart-labels="vm.labels">
                    </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
