<div class="tabGroup" ng-init="vm.activate()">
  <input type="radio" name="tabGroup1" id="rad1" checked="checked" />
  <label for="rad1" class="dashboad-label-mobile-btm-mar">Stats Dashboard</label>

  <input type="radio" name="tabGroup1" id="rad2" />
  <label for="rad2" class="dashboad-label-mobile-btm-mar">Charts Dashboard</label>

  <br/>

  <div class="tab1">
    <div class="sub-header-title">Inventory Summary</div>
    <div class="action-dropdown-menu">
      <select class="select-action" name="tab1BranchDropdown" ng-model="search.branchName">
        <!-- ng-change="vm.changeTab1BranchDropdown(vm.tab1BranchDropdownId)" -->
                <option value="">All</option>
                <option ng-repeat="item in vm.branchCopy | filter:{isActive :true}"  >{{item.branchName}}</option>
            </select>
    </div>
    <div class="dashboard-cont-box">
      <div class="row">

        <div class="col-md-4" ng-repeat="data in vm.branch | filter:{isActive :true} | filter:search.branchName">
          <div class="box_1">

            <div class="branch-1-heading">{{data.branchName}}</div>
            <div class="dashboard-bx">
              <div class="instoke-text-bx">In Stock: <span>{{vm.InStock[$index]||0}}</span></div>
              <div class="instoke-text-bx">Sold: <span>{{vm.Sold[$index] || 0}}</span></div>
            </div>
            <div class="branch-1-heading-btm"><strong>Total Items: </strong><span>{{vm.InStock[$index] + vm.Sold[$index] ||0}}</span></div>
          </div>

        </div>

      </div>

      <div class="sub-header-title">Purchase Summary</div>
      <div class="action-dropdown-menu">
        <select class="select-action" name="dropdown1" ng-model="vm.dropdown1" ng-change="vm.getChartByDropdown1()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
      </div>
      <div class="purchase-summary-box">
        <div class="row">
          <div class="col-md-4" ng-repeat="data in vm.purchase">
            <div class="box_1">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"><label>Items</label><strong>{{data.totalItems}}</strong></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><label>In Stock</label><strong>60</strong></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><label>Sold</label><strong>70</strong></div>
              </div>
              <div class="center-text-bx">{{data.purchaseName}}</div>
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4"><label>Cost</label><strong>{{data.totalCost || 0}}</strong></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><label>Price</label><strong> {{data.Products[$index+1].unitPrice || 0}} </strong></div>
                <div class="col-xs-4 col-sm-4 col-md-4"><label>Profit</label><strong>8,000</strong></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="tab2">
    <div class="dashboard-bx-align" ng-init="vm.activate()">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Inventory Distribution</div>
      <div class="charts-content-padding">
        <div class="action-dropdown-menu dropdown-toggle-btn">
          <select class="select-action" name="dropdown1" ng-model="vm.dropdown1" ng-change="vm.getChartByDropdown1()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
        </div>
        <div class="chart-toggle-btn">
          <ul ng-init="changeChart1 = 'bar'">
            <li><a href="" ng-class="{'active':changeChart1 === 'bar'}" ng-click="changeChart1 = 'bar'">Bar</a></li>
            <li><a href="" ng-class="{'active':changeChart1 === 'pie'}" ng-click="changeChart1 = 'pie'">Pie</a></li>
          </ul>
        </div>
        <div class="charts-align" ng-if="changeChart1 == 'bar'">
          <canvas id="bar" class="chart chart-bar" chart-data="vm.data1" chart-labels="vm.labels1" height="300" width="400">
                    </canvas>
        </div>
        <div class="charts-align" ng-if="changeChart1 == 'pie'">
          <canvas id="pie" class="chart chart-pie" chart-data="vm.data1" chart-labels="vm.labels1" chart-options="options">
                    </canvas>
        </div>
      </div>
    </div>


    <div class="dashboard-bx-align">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Inventory Track & Sales</div>
      <div class="charts-content-padding">
        <div class="action-dropdown-menu dropdown-toggle-btn">
          <select class="select-action" name="dropdown2" ng-model="vm.dropdown2" ng-change="vm.getChartByDropdown2()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.branch" value="{{item.id}}">{{item.branchName}}</option>
            </select>
        </div>
        <div class="chart-toggle-btn">
          <ul ng-init="changeChart2 = 'pie'">
            <li><a href="" ng-class="{'active':changeChart2 === 'bar'}" ng-click="changeChart2 = 'bar'">Bar</a></li>
            <li><a href="" ng-class="{'active':changeChart2 === 'pie'}" ng-click="changeChart2 = 'pie'">Pie</a></li>
          </ul>
        </div>
        <div class="charts-align" ng-if="changeChart2 == 'bar'">
          <h2 class="no-record-found-text" ng-if="vm.noDataFound">No data found</h2>
          <canvas ng-if="!vm.noDataFound" id="bar" class="chart chart-bar" chart-data="vm.data2" chart-labels="vm.labels2" height="300" width="400">
                    </canvas>
        </div>
        <div class="charts-align" ng-if="changeChart2 == 'pie'">
          <h2 class="no-record-found-text" ng-if="vm.noDataFound">No data found</h2>
          <canvas ng-if="!vm.noDataFound" id="pie" class="chart chart-pie" chart-data="vm.data2" chart-labels="vm.labels2" chart-options="options">
                    </canvas>
        </div>
      </div>
    </div>

    <div class="dashboard-bx-align">
      <div class="col-6 sub-header-title" style="margin-bottom:0px">Sales</div>
      <div class="charts-content-padding">
        <div class="action-dropdown-menu dropdown-toggle-btn">
          <select class="select-action" name="dropdown3" ng-model="vm.dropdown3" ng-change="vm.getChartByDropdown3()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
        </div>
        <div class="chart-toggle-btn">
          <ul ng-init="changeChart3 = 'bar'">
            <li><a href="" ng-class="{'active':changeChart3 === 'bar'}" ng-click="changeChart3 = 'bar'">Bar</a></li>
            <li><a href="" ng-class="{'active':changeChart3 === 'pie'}" ng-click="changeChart3 = 'pie'">Pie</a></li>
          </ul>
        </div>
        <div class="charts-align" ng-if="changeChart3 == 'bar'">
          <canvas id="bar" class="chart chart-bar" chart-data="vm.data3" chart-labels="vm.labels3" height="300" width="400">
                    </canvas>
        </div>
        <div class="charts-align" ng-if="changeChart3 == 'pie'">
          <canvas id="pie" class="chart chart-pie" chart-data="vm.data3" chart-labels="vm.labels3" chart-options="options">
                    </canvas>
        </div>
      </div>
    </div>

    <!--<div class="dashboard-bx-align">
            <div class="col-6 sub-header-title" style="margin-bottom:0px">Inventory</div>
            <div class="charts-content-padding">
                <div class="action-dropdown-menu dropdown-toggle-btn">
                    <select class="select-action" name="dropdown4" ng-model="vm.dropdown4" ng-change="vm.getChartByDropdown4()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
                </div>
                <div class="chart-toggle-btn">
                    <ul ng-init="changeChart4 = 'bar'">
                        <li><a href="" ng-class="{'active':changeChart4 === 'bar'}" ng-click="changeChart4 = 'bar'">Bar</a></li>
                        <li><a href="" ng-class="{'active':changeChart4 === 'pie'}" ng-click="changeChart4 = 'pie'">Pie</a></li>
                    </ul>
                </div>
                <div class="charts-align">
                    <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" height="300" width="400">
                    </canvas>
                </div>
            </div>
        </div>-->
  </div>



</div>
