<div class="tabGroup" ng-init="vm.activate()">
    <input type="radio" name="tabGroup1" id="rad1" checked="checked" />
    <label for="rad1" class="dashboad-label-mobile-btm-mar">Stats Dashboard</label>

    <input type="radio" name="tabGroup1" id="rad2" />
    <label for="rad2" class="dashboad-label-mobile-btm-mar">Charts Dashboard</label>

    <br/>

    <div class="tab1">
        <div class="dashboard-cont-box">
            <div class="box_1" ng-repeat="data in vm.branch | filter:{isActive :true}">
                <div class="branch-1-heading">{{data.branchName}}</div>
                <div class="dashboard-bx">
                    <div class="instoke-text-bx">In Stock: <span>43634</span></div>
                    <div class="instoke-text-bx">Sold: <span>43634</span></div>
                </div>
                <div class="branch-1-heading-btm"><strong>Total: </strong><span>10</span></div>
            </div>
        </div>
    </div>


    <div class="tab2">
        <div class="dashboard-bx-align" ng-init="vm.activate()">
            <div class="col-6 sub-header-title">Inventory Distribution</div>
            <div class="action-dropdown-menu">
                <select class="select-action" name="purchaseId" ng-init="vm.purchaseId = 'All'" ng-model="vm.purchaseId" ng-change="vm.getChartByPurchase()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
            </div>
            <div>
                <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" height="300" width="400">
                </canvas>
            </div>
        </div>


        <div class="dashboard-bx-align">
            <div class="col-6 sub-header-title">Inventory Track & Sales</div>
            <div class="action-dropdown-menu">
                <select class="select-action" name="purchaseId" ng-init="vm.purchaseId = 'All'" ng-model="vm.purchaseId" ng-change="vm.getChartByPurchase()">
                <option value="All">All</option>
                <option ng-repeat="item in vm.purchase" value="{{item.id}}">{{item.purchaseName}}</option>
            </select>
            </div>
            <div>
                <canvas id="pie" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
                </canvas>
            </div>
        </div>

        <div class="dashboard-bx-align">
            <div class="col-6 sub-header-title">Sales</div>
            <div>
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data" chart-labels="vm.labels">
                </canvas>
            </div>
        </div>

        <div class="dashboard-bx-align">
            <div class="col-6 sub-header-title">Inventory</div>
            <div>
                <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels">
                </canvas>
            </div>
        </div>
    </div>



</div>