<div ng-init="vm.getList()">
  <div class="sub-header-title"><span>{{vm.purchaseName}}</span> - Product Listing</div>
  <div class="search-box"><input type="text" value="" placeholder="Search by Product Code and Name" ng-model="search.$">
    <input ng-if="vm.list.length < vm.totalItems" class="add-new-btn" type="button" value="Add New" ng-click="vm.add()">
  </div>
  <table class="table-part" border="0" cellspacing="0" cellpadding="0">
    <tr class="top-purpal-color-row">
      <th>Product Code</th>
      <th>Product Name</th>
      <th>Tag</th>
      <th>Category</th>
      <th>Unit Price</th>
      <th>Unit Cost</th>
    </tr>
    <tr ng-repeat="data in vm.list | filter:search:strict">
      <td data-th="Product Code: " class="top-purpal-color-row2"><a href="" ng-click="vm.edit(data)">{{data.productCode}}</a></td>
      <td data-th="Product Name: " class="top-purpal-color-row2">{{data.productName}}</td>
      <td data-th="Tag: " class="top-purpal-color-row2">{{data.productTag}}</td>
      <td data-th="Category: " class="top-purpal-color-row2">{{data.Category.categoryName}}</td>
      <td data-th="Unit Price: " class="top-purpal-color-row2">{{data.unitPrice}}</td>
      <td data-th="Unit Cost: " class="top-purpal-color-row2">{{data.unitCost}}</td>
    </tr>

  </table>
</div>
