﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title></title>



    <!-- Bootstrap Core CSS -->
    <link href="/lib/new/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/lib/new/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/lib/new/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/lib/new/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top main-header" role="navigation">
            <!-- Brand and toggle get mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" /></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lagguage-img"><img src="images/home-icon.png" width="31" height="28" alt=""/></i> Home </a>
                    
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="user-img"><img src="images/default.png" alt=""/></i> Admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> My Account</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="main-top-icon-box">
				<ul>
					<li class="active"><a href="#!/secure/home"><span><img src="images/dashboard-icon.png" alt="" /></span>Dashboard</a></li>
					<li><a href="#!/secure/inventory"><span><img src="images/inventory.png" alt="" /></span>Inventory</a></li>
					<li><a href="#!/secure/category"><span><img src="images/categories.png" alt="" /></span>Categories</a></li>
					<li><a href="#!/secure/branch"><span><img src="images/branches.png" alt="" /></span>Branches</a></li>
					<li><a href="#!/secure/user"><span><img src="images/users.png" alt="" /></span>Users</a></li>
					<li><a href="#!/secure/notifications"><span><img src="images/notification-icon.png" alt="" /></span>Notifications</a></li>
					<li><a href="#!/secure/home"><span><img src="images/reports-icon.png" alt="" /></span>Reports</a></li>
				</ul>
            </div>
            
            <div class="main-contant-box">
				<div ui-view></div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
<div class="main-footer">© 2017 Lado's Designer Studio. All rights reserved.</div>

    <script>
$(document).ready(function() {
	$("#content div").hide(); // Initially hide all content
	$("#tabs li:first").attr("id","current"); // Activate first tab
	$("#content div:first").fadeIn(); // Show first tab content
    
    $('#tabs a').click(function(e) {
        e.preventDefault();        
        $("#content div").hide(); //Hide all content
        $("#tabs li").attr("id",""); //Reset id's
        $(this).parent().attr("id","current"); // Activate this
        $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
    });
})();
</script>
    

    <script type="text/javascript">
        window.user = <%- user || 'null'  %>;
    </script>

    <script type="text/javascript" src="/lib/jquery/src/jquery.js"></script>
    <script type="text/javascript" src="/lib/lodash/lodash.js"></script>
    <script type="text/javascript" src="/lib/sweetalert/lib/sweetalert.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/lib/restangular/src/restangular.js"></script>
    <script type="text/javascript" src="/lib/ngSweetAlert/SweetAlert.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>


    <script src="/application.js"></script>
    <script src="/route.js"></script>
    <script src="/userService.js"></script>

    <script src="/branch/branch.js"></script>
    <script src="/category/category.js"></script>
    <script src="/inventory/inventory.js"></script>
    

    <script src="/notifications/notifications.js"></script>
    <script src="/reports/reports.js"></script>
    <script src="/login/login.js"></script>
    <script src="/shared/secure.js"></script>
    <script src="/home/home.js"></script>
    <script src="/dashboard/dashboard.js"></script>
    <script src="/user/user.js"></script>

    <script src="/convertToNum.js"></script>
    <script src="/convertToDate.js"></script>
    <script src="/leading-zero.js"></script>

        <!-- jQuery -->
    <script src="/lib/new/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/lib/new/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/lib/new/raphael.min.js"></script>
    <script src="/lib/new/morris.min.js"></script>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/lib/new/jquery.reveal.js"></script>


<!-- popup box Tab js start  -->
<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>


</body>

</html>